rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /scrap_ledger/{document} {
      allow read, write: if true;
    }
    match /retail_ledger/{document} {
      allow read, write: if true;
    }
    match /wholesale_ledger/{document} {
      allow read, write: if true;
    }
  }
}
